<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <form id="tour-form" method="post" action="/add-tour">
    <div class="form-info">
      <label>Tour Name
        <input type="text" name="name">
      </label>
      <label>Tour Cost
        <input type="number" name="cost" min="1" value="1">
      </label>
    </div>
    <div class="form-info">
      <label>Tour Destination
        <input type="text" name="destination" placeholder="type a city">
      </label>
      <label>Tour Dates
        <input type="text" name="dates" placeholder="dd/mm/yyyy">
      </label>
    </div>
    <div class="form-info">
      <label>Number of Adults
        <input type="number" name="adults" min="1" value="1">
      </label>
      <label>Number of Children
        <input type="number" name="children" min="0" value="0">
      </label>
    </div>
    <div class="form-button">
      <input type="submit" value="Add Tour">
    </div>
  </form>
</body>
</html>
